<script type="text/template" id="productList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>name</th>
		 <th>value</th>
                 <th>descripcion</th>
                 <th>unidades</th>
                 <th>imagen</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(products, function(product) { %>
    <tr>
		<td><%= htmlEncode(product.getDisplay('name')) %></td>
		<td><%= htmlEncode(product.getDisplay('value')) %></td>
                <td><%= htmlEncode(product.getDisplay('descripcion')) %></td>
                <td><%= htmlEncode(product.getDisplay('unidades')) %></td>
                <td><img src="<%= htmlEncode(product.getDisplay('imagen')) %>" width="40px" /></td>
                
                
    <td>
 
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-product-edit',{id:<%= product.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-product-delete',{id:<%= product.id %>}); return false" >Delete</a> 
	<% } %> 
       
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="product">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-productForm">
    <% if(product.id) {%>
    <input type="hidden" name="id" value="<%= product.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= product.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="value">value</label>
    	<input type="text" class="form-control" id="value" name="value" placeholder="Enter value" value="<%= product.get('value') %>"/>	
		</div>
                <div class="form-group" >
		<label for="descripcion">descripcion</label>
    	<input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Enter value" value="<%= product.get('descripcion') %>"/>	
		</div>
                <div class="form-group" >
		<label for="unidades">unidades</label>
    	<input type="text" class="form-control" id="unidades" name="unidades" placeholder="Enter value" value="<%= product.get('unidades') %>"/>	
		</div>
                <div class="form-group" >
		<label for="imagen">URL Imagen</label>
    	<input type="text" class="form-control" id="imagen" name="imagen" placeholder="Enter value" value="<%= product.get('imagen') %>"/>	
		</div>
               
                
    </form>
    </div>
</script> 